.blogentry .titlearea {
    overflow: visible;
}

.blogentry .separator {
    margin: 10px;
}

.blogentry #mainEntryContentSection {
    -ms-grid-row: 2;
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    margin-top: 30px;
    z-index: 0;
}

    .blogentry #mainEntryContentSection article {
        /* Define a multi-column, horizontally scrolling article by default. */
        column-gap: 80px;
        column-width: 480px;
        height: calc(100% - 50px);
        margin-left: 100px;
        margin-top: 0px;
        width: 480px;
    }

.blogentry #entryLoading {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

.blogentry .titlecontainer {
    border: none;
}

#templates {
    display: none;
}

progress.withText {
    color: inherit; /* Uses the same text color as the page */
}

progress.withText {
    width: 100px;
    height: 100px;
    text-align: center;
}

.progressRingText {
    font-size: 20pt;
    line-height: 25pt;
}

@media screen and (-ms-view-state: snapped) {

    .blogentry #mainEntryContentSection article {
        /* Define a single column, vertically scrolling article in snapped mode. */
        -ms-grid-columns: 300px 1fr;
        -ms-grid-row: 2;
        -ms-grid-rows: auto 60px;
        display: -ms-grid;
        height: 100%;
        margin-left: 5px;
        width: 290px;
    }

    .blogentry #mainEntryContentSection {
        width: calc(100% - 20px);
        margin-top: 50px;
        height: calc(100% - 50px);
        margin-left: 10px;
        -ms-grid-column: inherit;
        overflow: auto;
        padding-right: 10px;
    }

        .blogentry #mainEntryContentSection .entry-content {
            width: 280px;
        }

    .blogentry .win-type-ellipsis {
        white-space: normal;
    }

    .blogentry img {
        max-width: 230px;
    }
}
