#templates {
    display: none;
}

.myPage .clickableArea:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
}

.myPage .titlecontainer {
    border: none;
}

/*.myPage header[role=banner] .titlearea {
    margin-top: 45px;
}

    .myPage header[role=banner] .titlearea .pagetitle {
        display: inline;
        padding: 0;
        padding-right: 5px;
    }

    .myPage header[role=banner] .titlearea .pagesubtitle {
        display: inline;
        margin: 0;
        padding: 0;
        padding-left: 10px;
    }*/

.myPage #mainContentSection {
    margin-top: 10px;
    margin-left: 0px;
    overflow: auto;
    height: calc(100% - 10px);
}

    .myPage #mainContentSection #mypageData {
        display: -ms-flexbox;
        -ms-flex-direction: row;
        -ms-flex-align: stretch;
        height: calc(100% - 20px);
        margin-left: 112px;
    }

        .myPage #mainContentSection #mypageData > div {
        }

.myPage .box {
    margin: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    overflow: hidden;
    max-width: 350px;
    min-width: 175px;
    min-height: 120px;
}

    .myPage .box span {
        display: block;
    }

    .myPage .box .detail-h2-title {
        display: inline;
    }

    .myPage .box .detail-title {
        margin-bottom: 3px;
        display: inline;
    }

    .myPage .box .documentTitle {
        font-weight: bold;
    }

    .myPage .box .title {
        font-weight: bold;
    }

.myPage #fines, #loans, #reservations, #notifications, #favorites {
    max-width: 750px;
    max-height: calc(100% - 20px);
    overflow: auto;
}

.myPage .renewLoanButton {
    margin-top: 15px;
    margin-bottom: 10px;
}

.myPage .cancelReservationButton {
    margin-top: 15px;
    margin-bottom: 10px;
}

.myPage .deleteFavoriteButton {
    margin-top: 15px;
    margin-bottom: 10px;
}

.myPage .renewAllButton {
    float: right;
}

.myPage #mainContentSection #mypageLoading {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

progress.withText {
    color: inherit;
    width: 100px;
    height: 100px;
}

.myPage .float-item {
    float: left;
    min-width: 220px;
    max-width: 220px;
    margin: 10px;
}

.myPage .favorite-item {
    margin-top: 20px;
    height: 150px;
}

    .myPage .favorite-item .favorite-section {
        margin-left: 75px;
    }

        .myPage .favorite-item .favorite-section .favorite-title {
        }

        .myPage .favorite-item .favorite-section .favorite-subtitle {
            margin-top: 2px;
        }

    .myPage .favorite-item .favorite-img-container {
        float: left;
    }

        .myPage .favorite-item .favorite-img-container .favorite-img {
            max-width: 60px;
            max-height: 120px;
        }

    .myPage .favorite-item .favorite-button {
    }

.myPage .clear-float {
    clear: both;
}

@media screen and (orientation: portrait) {

    .myPage .box {
        float: none;
        margin-left: 0px;
        margin-top: 0px;
        max-width: calc(100% - 150px);
    }

    .myPage #mainContentSection {
        margin-top: 0px;
        margin-left: 100px;
        overflow-y: scroll;
        width: calc(100% - 50px);
    }

        .myPage #mainContentSection #mypageData #fines, #loans, #reservations, #notifications, #favorites {
            max-height: none;
            max-width: calc(100% - 150px);
        }

    .myPage header[role=banner] .titlearea .pagesubtitle {
        display: block;
    }

    .myPage #mainContentSection #mypageData {
        margin-top: 30px;
        -ms-flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .myPage header[role=banner] .titlearea {
        overflow: visible;
    }
}


@media screen and (-ms-view-state: snapped) {

    .myPage .box {
        max-width: 260px;
        margin-top: 0px;
    }

    .myPage #mainContentSection #mypageData #fines, #loans, #reservations, #notifications, #favorites {
        max-height: none;
        max-width: 260px;
    }

    .myPage #mainContentSection {
        width: calc(100% - 15px);
        margin-left: 15px;
    }

        .myPage #mainContentSection #mypageData {
            margin-top: 0px;
        }

        .myPage #mainContentSection #notifications {
            margin-top: 0px;
        }
}
