/*          TEMPLATES       */
.templates {
    display: none;
}




/*          BUTTONS         */
.document-detail-page #openShareButton {
    background-color: rgba(136, 187, 0, 1.0);
}

.document-detail-page #sendHoldRequestButton {
    background-color: rgba(0, 153, 204, 1.0);
}

.document-detail-page #addToFavoritesButton {
    background-color: rgba(102, 0, 102, 1.0);
    width: 206px;
}




/*          LOADING         */
.document-detail-page #documentDetailLoading {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -ms-grid-row: 2;
}

.document-detail-page progress.withText {
    color: inherit;
    width: 100px;
    height: 100px;
}




/*          MAIN        */
.document-detail-page {
    overflow: auto;
}

    .document-detail-page #document-content {
        -ms-grid-row: 2;
        margin-left: 120px;
        margin-top: 30px;
        -ms-grid-columns: 270px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: calc(100% - 30px);
        width: calc(100% - 120px);
    }

    .document-detail-page #documentDetailData {
        display: none;
        visibility: hidden;
        width: 100%;
        height: inherit;
    }

    .document-detail-page #document-fragment-holder {
        margin-left: 30px;
        margin-top: 23px;
        height: calc(100% - 23px);
        width: calc(100% - 30px);
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        -ms-hyphenate-limit-zone: 0%;
        -ms-hyphens: manual;
    }

    .document-detail-page .titlearea {
        overflow: visible;
    }




    /*          LEFT BAR STATIC INFORMATION         */
    .document-detail-page #documentStaticInformation {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }

    .document-detail-page .document-compressedsubtitle-container {
        height: auto;
        margin: 16px;
        text-align: center;
    }

    .document-detail-page .document-image-container {
        height: 100%;
        width: 100%;
        margin-top: 10px;
        position: relative;
        text-align: center;
    }

    .document-detail-page #documentImage {
        max-height: 362px;
        max-width: 240px;
    }

    .document-detail-page #documentButtonContainer {
        text-align: center;
        margin-top: 10px;
    }

    .document-detail-page .button {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .document-detail-page #ratingContainer {
        width: 100%;
        height: 80px;
        padding-left: 5px;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;
    }

        .document-detail-page #ratingContainer #ratingControl {
            padding-left: 5px;
            margin-top: 4px;
        }

    .document-detail-page #imdb-logo {
        margin-top: 5px;
        height: 33px;
        width: 33px;
    }

    .document-detail-page #bokelskere-heading {
        margin-top: 4px;
    }




    /*          FRAGMENT CONTENT        */

    .document-detail-page #fragmentContent {
        height: 100%;
        width: 100%;
        -ms-grid-column: inherit;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
    }

        .document-detail-page #fragmentContent #left-content {
            display: none;
            -ms-grid-column: 1;
            -ms-grid-row: 1;
        }

        .document-detail-page #fragmentContent #details {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            column-fill: auto;
            column-gap: normal;
            column-rule: 0px solid gray;
            columns: auto 17em;
            height: calc(100% - 20px);
            overflow: visible;
            padding-bottom: 10px;
            padding-right: 10px;
        }

    .document-detail-page .fact {
        margin-top: 20px;
        width: auto;
        height: auto;
        padding-right: 5px;
        overflow: hidden;
    }

    .document-detail-page .fact-name {
        font-weight: 600;
    }

    .document-detail-page .fact-name {
    }

    .document-detail-page .fact-value {
    }

    .document-detail-page #availabilityHolder .doc-loc-branch, .document-detail-page #availabilityHolder .doc-loc-department, .document-detail-page #availabilityHolder .doc-loc-branch, .document-detail-page #availabilityHolder .doc-loc-collection {
        display: block;
    }

    .document-detail-page #availabilityHolder .doc-loc-code, .document-detail-page #availabilityHolder .doc-loc-classification {
        display: inline;
    }

    .document-detail-page #availabilityHolder .doc-availability-tot, .document-detail-page #availabilityHolder .doc-availability-count {
        display: inline;
    }

    .document-detail-page #availabilityHolder .doc-loc-hyllesign {
        display: inline;
    }

    .document-detail-page #availabilityHolder .doc-estimated-wait {
        display: block;
    }

    .document-detail-page .doc-loc-branch {
        font-weight: 600;
    }

    .document-detail-page .availabilitySection {
        margin-top: 20px;
    }

    .document-detail-page #docLocAndAvail {
    }




@media screen and (-ms-view-state: snapped) {

    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .document-detail-page .document-image-container {
        height: auto;
        width: 100px;
        max-height: 450px;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
        -ms-grid-row: 3;
    }


    .document-detail-page #document-content {
        margin-left: 0;
        margin-top: 10px;
        -ms-grid-columns: auto;
        -ms-grid-rows: auto auto auto auto auto;
        display: -ms-grid;
        margin-left: 10px;
    }

    .document-detail-page .pagesubtitle {
        margin: 0;
        padding: 0;
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        margin-left: 10px;
    }


    .document-detail-page #documentFragmentHolder {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        margin-left: 10px;
        -ms-grid-row: 5;
        -ms-hyphenate-limit-zone: 0%;
        -ms-hyphens: manual;
        column-fill: auto;
        column-gap: normal;
        column-rule: 0px solid gray;
        columns: auto 19em;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 20px;
    }

    .document-detail-page #ratingContainer {
        margin-left: 10px;
        margin-top: 15px;
        width: auto;
        height: auto;
        padding: 10px;
        overflow: hidden;
        max-width: 100%;
        min-width: 100%;
        min-height: 90px;
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    /*.document-detail-page #documentTitle {
        margin: 0!important;
        padding: 0!important;
        margin-left: 10px;
        float: left;
    }*/

    .document-detail-page #documentButtonContainer {
        display: none;
    }
}
