/*          TEMPLATES       */
.templates {
    display: none;
}




/*          BUTTONS         */
.document-detail-page #openShareButton {
    background-color: rgba(136, 187, 0, 1.0);
}

.document-detail-page #sendHoldRequestButton {
    background-color: rgba(0, 153, 204, 1.0);
}

.document-detail-page #addToFavoritesButton {
    background-color: rgba(102, 0, 102, 1.0);
    width: 206px;
}




/*          LOADING         */
.document-detail-page #documentDetailLoading {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -ms-grid-row: 2;
}

.document-detail-page progress.withText {
    color: inherit;
    width: 100px;
    height: 100px;
}




/*          MAIN        */
.document-detail-page {
    overflow: auto;
}

    .document-detail-page #document-content {
        -ms-grid-row: 2;
        margin-left: 120px;
        margin-top: 30px;
        -ms-grid-columns: 270px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: calc(100% - 30px);
        width: calc(100% - 120px);
    }

    .document-detail-page #document-fragment-holder {
        margin-left: 30px;
        margin-top: 0px;
        height: calc(100% - 23px);
        width: calc(100% - 30px);
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        -ms-hyphenate-limit-zone: 0%;
        -ms-hyphens: manual;
    }

    .document-detail-page .titlearea {
        overflow: visible;
    }

    .document-detail-page .titlearea .pagesubtitle {
        margin-top: -10px;
    }



    /*          LEFT BAR STATIC INFORMATION         */
    .document-detail-page #documentStaticInformation {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }

    .document-detail-page .document-compressedsubtitle-container {
        height: auto;
        margin-top: 8px;
        margin-left: 16px;
    }

    .document-detail-page .document-image-container {
        height: 100%;
        width: 100%;
        margin-top: 10px;
        position: relative;
        text-align: center;
    }

    .document-detail-page #documentImage {
        max-height: 362px;
        max-width: 240px;
    }

    .document-detail-page #documentButtonContainer {
        text-align: center;
        margin-top: 10px;
    }

    .document-detail-page .button {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .document-detail-page #ratingContainer {
        width: 100%;
        height: 80px;
        padding-left: 5px;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;
    }

        .document-detail-page #ratingContainer #ratingControl {
            padding-left: 5px;
            margin-top: 4px;
        }

    .document-detail-page #imdb-logo {
        margin-top: 5px;
        height: 33px;
        width: 33px;
    }

    .document-detail-page #bokelskere-heading {
        margin-top: 4px;
    }




    /*          FRAGMENT CONTENT        */

    .document-detail-page #fragmentContent {
        height: 100%;
        width: 100%;
        -ms-grid-column: inherit;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
    }

        .document-detail-page #fragmentContent #left-content {
            display: none;
            -ms-grid-column: 1;
            -ms-grid-row: 1;
        }

         .document-detail-page #fragmentContent #left-content #reviewContainer {
            display: none;
        }

        .document-detail-page #fragmentContent #details {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            column-fill: auto;
            column-gap: normal;
            column-rule: 0px solid gray;
            columns: auto 17em;
            height: calc(100% - 10px);
            overflow: visible;
            padding-bottom: 10px;
            padding-right: 10px;
        }

    .document-detail-page .fact {
        margin-top: 20px;
        width: auto;
        height: auto;
        padding-right: 5px;
        overflow: hidden;
    }

    .document-detail-page .fact-name {
        font-weight: 600;
    }

    .document-detail-page .fact-name {
    }

    .document-detail-page .fact-value {
    }

    .document-detail-page #availabilityHolder .doc-loc-branch, .document-detail-page #availabilityHolder .doc-loc-department, .document-detail-page #availabilityHolder .doc-loc-branch, .document-detail-page #availabilityHolder .doc-loc-collection {
        display: block;
    }

    .document-detail-page #availabilityHolder .doc-loc-code, .document-detail-page #availabilityHolder .doc-loc-classification {
        display: inline;
    }

    .document-detail-page #availabilityHolder .doc-availability-tot, .document-detail-page #availabilityHolder .doc-availability-count {
        display: inline;
    }

    .document-detail-page #availabilityHolder .doc-loc-hyllesign {
        display: inline;
    }

    .document-detail-page #availabilityHolder .doc-estimated-wait {
        display: block;
    }

    .document-detail-page .doc-loc-branch {
        font-weight: 600;
    }

    .document-detail-page .availabilitySection {
        margin-top: 20px;
    }

    .document-detail-page #docLocAndAvail {
    }




@media screen and (-ms-view-state: fullscreen-portrait) {

    .document-detail-page .titlearea {
        overflow: visible;
    }

    .document-detail-page .titlearea .pagesubtitle {
        margin-top: 0px;
    }

    .document-detail-page #document-content {
        margin-left: 100px;
        margin-top: 60px;
        width: calc(100% - 100px);
        height: calc(100% - 60px);
    }

    .document-detail-page #document-fragment-holder {
        margin-top: 0px;
        height: calc(100% - 15px);
    }

        .document-detail-page #document-fragment-holder #fragmentContent {
            -ms-grid-colums: 1fr;
            -ms-grid-rows: auto 1fr;
        }

            .document-detail-page #document-fragment-holder #fragmentContent #left-content {
                -ms-grid-row: 1;
                display: inline;
            }

            .document-detail-page #document-fragment-holder #fragmentContent #details {
                -ms-grid-row: 2;
                column-fill: auto;
                column-gap: normal;
                column-rule: 0px solid gray;
                columns: auto auto;
                overflow: visible;
                padding-bottom: 10px;
                padding-right: 10px;
                height: calc(100% - 20px);
            }
}




@media screen and (-ms-view-state: snapped) {

    .document-detail-page .titlearea .pagesubtitle {
        margin-top: 0px;
    }
    
    .document-detail-page #document-content {
        -ms-grid-row: 2;
        margin-left: 0px;
        margin-top: 0px;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto 1fr;
        display: -ms-grid;
        height: 100%;
        width: calc(100% - 10px);
    }

    .document-detail-page #document-fragment-holder {
        margin-left: 0px;
        margin-top: 0px;
        height: 100%;
        width: 100%;
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        -ms-hyphenate-limit-zone: 0%;
        -ms-hyphens: manual;
    }

    .document-detail-page .titlearea {
        overflow: visible;
    }




    /*      STATIC      */
    .document-detail-page #documentStaticInformation {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }

    .document-detail-page .document-compressedsubtitle-container {
        margin-left: 0px;
        margin-top: 30px;
        text-align: center;
    }

    .document-detail-page .document-image-container {
        height: 100%;
        width: 100%;
        margin-top: 10px;
        position: relative;
        text-align: center;
    }

    .document-detail-page #documentImage {
        max-width: 248px;
    }

    .document-detail-page #documentButtonContainer {
        text-align: center;
        margin-top: 10px;
    }

    .document-detail-page .button {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .document-detail-page #ratingContainer {
        width: 100%;
        height: 80px;
        padding-left: 5px;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;
    }

        .document-detail-page #ratingContainer #ratingControl {
            padding-left: 5px;
            margin-top: 4px;
        }

    .document-detail-page #imdb-logo {
        margin-top: 5px;
        height: 33px;
        width: 33px;
    }

    .document-detail-page #bokelskere-heading {
        margin-top: 4px;
    }



    /*          FRAGMENT CONTENT        */

    .document-detail-page #fragmentContent {
        height: 100%;
        width: 100%;
        -ms-grid-column: inherit;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto 1fr;
        margin-left: 30px;
        width: calc(100% - 30px);
    }

        .document-detail-page #fragmentContent #left-content {
            display: none;
            -ms-grid-column: 1;
            -ms-grid-row: 1;
        }

        .document-detail-page #fragmentContent #details {
            -ms-grid-column: 1;
            -ms-grid-row: 2;
            column-fill: auto;
            column-gap: normal;
            column-rule: 0px solid gray;
            columns: auto auto;
            height: calc(100% - 20px);
            overflow: visible;
            padding-bottom: 10px;
            padding-right: 10px;
            margin-top: 30px;    
    }

    .document-detail-page h2 {
        font-size: 16pt;
    }
}
