<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Filminformasjon</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0.RC/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0.RC/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0.RC/js/ui.js"></script>

    <link href="/css/default.css" rel="stylesheet" />
    <link href="/pages/itemDetail/fragments/movieFragment/movieFragment.css" rel="stylesheet" />
    <script src="/pages/itemDetail/fragments/movieFragment/movieFragment.js"></script>
</head>
<body>
    <!-- The content that will be loaded and displayed. -->
    <div class="itemdetailpage fragment">

        <div class="content" aria-label="Main content" role="main">
            <article>
                <div>
                    <header>
                        <h2 id="item-title" class="win-type-ellipsis" data-win-bind="textContent: title"></h2>
                        <h3 id="item-subtitle" data-win-bind="textContent: subtitle"></h3>
                    </header>
                    <img id="item-image" src="ms-appx:///images/placeholders/transp.png" data-win-bind="src: image; alt: title" />
                    <div id="item-dynamic-content"></div>

                    <div id="item-content" data-win-bind="innerHTML: content"></div>
                </div>
            </article>
        </div>
    </div>
</body>
</html>
