<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Solvberget" Version="1.0.0.4" Publisher="CN=arnea_000" />
  <Properties>
    <DisplayName>Sølvberget Metro</DisplayName>
    <PublisherDisplayName>Capgemini AS</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Sølvberget" Logo="images\solvberget150.png" SmallLogo="images\solvberget30.png" Description="Søk i Stavanger Bibliotek sine bøker, filmer og lydbøker, og få oversikt over kommende arrangementer!" ForegroundText="light" BackgroundColor="#000000" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="images\solvberget_wide.png" ShortName="Solvberget" />
        <SplashScreen Image="images\solvberget_splash.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>