<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="6a9bd7d1-7ef3-44cd-8b39-b4eb0daadc07" Version="1.0.0.0" Publisher="CN=arnea_000" />
  <Properties>
    <DisplayName>Solvberget.Metro</DisplayName>
    <PublisherDisplayName>arnea_000</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Sølvberget" Logo="images\solvberget150.png" SmallLogo="images\solvberget30.png" Description="Søk i Stavanger Bibliotek sine bøker, filmer og lydbøker, og få oversikt over kommende arrangementer!" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\solvberget_splash.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>