<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Bok</title>
    <link rel="stylesheet" href="book.css" />
    <script type="text/javascript" src="book.js"></script>

</head>

<body>

    <div class="templates">

        <div id="reviewTemplate">
            <div id="reviewContent" data-win-bind="innerText: documentReview">
            </div>
        </div>

        <div id="bokelskeretemplate">
            <h3 id="bokelskere-heading">Bokelskere.no</h3>
            <div id="ratingControl" class="win-small" data-win-control="WinJS.UI.Rating" data-win-options="{disabled: true}"></div>
        </div>

    </div>

    <section id="fragmentContent">

        <div id="left-content">

            <article id="reviewContainer">
                <h2>Bokbasens omtale</h2>
                <div id="reviewHolder"></div>
            </article>

            <article id="docLocAndAvail">
                <h2>Tilgjengelighet</h2>
                <div id="availabilityHolder"></div>
            </article>

        </div>

        <article id="details">

            <h2 id="H1">Fakta om boka</h2>

            <div class="fact" data-win-bind="style.display: Author.Name DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Author'}"></div>
                <div class="fact-value" data-win-bind="innerText:Author.Name"></div>
            </div>
            <div class="fact" data-win-bind="style.display: StandarizedTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'StandarizedTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:StandarizedTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: StdOrOrgTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'StdOrOrgTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:StdOrOrgTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Numbering DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Numbering'}"></div>
                <div class="fact-value" data-win-bind="innerText:Numbering"></div>
            </div>
            <div class="fact" data-win-bind="style.display: PartTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'PartTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:PartTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Edition DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Edition'}"></div>
                <div class="fact-value" data-win-bind="innerText:Edition"></div>
            </div>
            <div class="fact" data-win-bind="style.display: NumberOfPages DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'NumberOfPages'}"></div>
                <div class="fact-value" data-win-bind="innerText:NumberOfPages"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Content DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Content'}"></div>
                <div class="fact-value" data-win-bind="innerText:Content"></div>
            </div>
            <div class="fact" data-win-bind="style.display: ReferredPersons DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ReferredPersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:ReferredPersons DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: ReferredOrganizations DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ReferredOrganizations'}"></div>
                <div class="fact-value" data-win-bind="innerText:ReferredOrganizations DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: ReferencedPlaces DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ReferencedPlaces'}"></div>
                <div class="fact-value" data-win-bind="innerText:ReferencedPlaces"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Subject DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Subject'}"></div>
                <div class="fact-value" data-win-bind="innerText:Subject DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Genre DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Genre'}"></div>
                <div class="fact-value" data-win-bind="innerText:Genre"></div>
            </div>
            <div class="fact" data-win-bind="style.display: InvolvedPersons DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'InvolvedPersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:InvolvedPersons DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: InvolvedOrganizations DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'InvolvedOrganizations'}"></div>
                <div class="fact-value" data-win-bind="innerText:InvolvedOrganizations"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Language DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Language'}"></div>
                <div class="fact-value" data-win-bind="innerText:Language"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Languages DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Languages'}"></div>
                <div class="fact-value" data-win-bind="innerText:Languages"></div>
            </div>
            <div class="fact" data-win-bind="style.display: SubTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SubTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:SubTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Publisher DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-bind="innerText:PublisherType"></div>
                <div class="fact-value" data-win-bind="innerText:Publisher"></div>
            </div>
            <div class="fact" data-win-bind="style.display: PublishedYear DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'PublishedYear'}"></div>
                <div class="fact-value" data-win-bind="innerText:PublishedYear"></div>
            </div>
            <div class="fact" data-win-bind="style.display: SeriesTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SeriesTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:SeriesTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: SeriesNumber DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SeriesNumber'}"></div>
                <div class="fact-value" data-win-bind="innerText:SeriesNumber"></div>
            </div>

        </article>

    </section>

</body>
</html>

