<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Solvberget.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <Solvberget.WindowsService.Properties.Settings>
            <setting name="IndexPath" serializeAs="String">
                <value>C:\projects\Solvberget\Solvberget.Service\bin\App_Data\ordlister_index</value>
            </setting>
            <setting name="SuggestionPath" serializeAs="String">
                <value>C:\projects\Solvberget\Solvberget.Service\bin\App_Data\ordlister\ord_forslag.txt</value>
            </setting>
        </Solvberget.WindowsService.Properties.Settings>
    </applicationSettings>
</configuration>
