<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Språkkurs</title>
    <link rel="stylesheet" href="languageCourse.css" />
    <script type="text/javascript" src="languageCourse.js"></script>

</head>

<body>

    <section id="fragmentContent">

        <div id="left-content">

            <article id="docLocAndAvail">
                <h2>Tilgjengelighet</h2>
                <div id="availabilityHolder"></div>
            </article>

        </div>

        <article id="details">

            <h2 id="H1">Fakta om språkkurset</h2>
            <div class="fact" data-win-bind="style.display: Author.Name DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Author'}"></div>
                <div class="fact-value" data-win-bind="innerText:Author.Name"></div>
            </div>
            <div class="fact" data-win-bind="style.display: TypeAndNumberOfDiscs DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'TypeAndNumberOfDiscs'}"></div>
                <div class="fact-value" data-win-bind="innerText:TypeAndNumberOfDiscs"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Language DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Language'}"></div>
                <div class="fact-value" data-win-bind="innerText:Language"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Languages DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Languages'}"></div>
                <div class="fact-value" data-win-bind="innerText:Languages"></div>
            </div>
            <div class="fact" data-win-bind="style.display: SubTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SubTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:SubTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Publisher DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-bind="innerText:PublisherType"></div>
                <div class="fact-value" data-win-bind="innerText:Publisher"></div>
            </div>
            <div class="fact" data-win-bind="style.display: PublishedYear DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'PublishedYear'}"></div>
                <div class="fact-value" data-win-bind="innerText:PublishedYear"></div>
            </div>

        </article>

    </section>

</body>
</html>

