


#searchField {
	
	text-align:center;

}

p {

color: red;

}

h3 {
  color: #641212;
  display: block;
  background-color: #FBFBFB;
  border-width: 2px;
  border-color: #2A0C0C;
  float: none;
  padding: 29px;
  width: inherit;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 10%;
  flood-color: #6A3B3B;
  stop-color: #6A1616;
  clip-rule: nonzero;
  flood-opacity: 2;
  font-size: 27px;
  font-style: italic;
  -ms-scroll-limit-y-max: 0px;
  cursor: text;
  outline-color: #C36464;
  
}

#searchField {
margin-left:10px;
}


