/* Flyout-login buttons */
.win-flyout:not(.win-menu) button,
.win-flyout:not(.win-menu) input[type="button"] {
    margin-top: 16px;
    margin-left: 20px;
    float: right;
}

.error {
    color: #cc3300;
}

.success {
    color: #448811;
}

.normal {
    color: blue;
}

    .normal:hover {
        cursor: pointer;
    }

#outputMsg {
    display: block;
    font-weight: bold;
}

#loginLoading {
    float: left;

}

#loginFlyout {
    margin-top: 40px;
}

#logoutDiv {
    margin-top: 30px;
}
