<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Logg inn</title>
    <link rel="stylesheet" href="login.css" />


    <script type="text/javascript" src="login.js"></script>
</head>
<body>
    <div id="loginFlyout" style="display: none" data-win-control="WinJS.UI.Flyout" aria-label="{Login flyout}">
        <form onsubmit="return false;">

        <div id="logoutDiv">
            <div id="logoutConfimationMsg">Du vil nå bli logget ut</div>
            <button id="confirmLogoutButton">Logg ut</button>
            <button id="cancelLogoutButton">Avbryt</button>
        </div>

        <p>
            <label for="userId" id="labelForUserId">
                Lånernummer
                    <br />
            </label>
            <input type="text" id="userId" />
            <br />
            <span id="userIdError" class="error"></span>

        </p>

        <p>
            <label for="pin" id="laberForPin">
                Pinkode<br />
            </label>
            <input type="password" id="pin" />
            <br />
            <span id="pinError" class="error"></span>

        </p>
        <button id="submitLoginButton">
            Logg inn</button>
        <br />
        <span id="outputMsg" class="normal">Glemt pin-kode?</span>
        <div id="loginLoading"><progress class="win-ring"></progress></div>

        </form>
    </div>

</body>
</html>

