#SceneScene1{
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #ffffff;
	background-image : url('..\\..\\images\\background.png');
}

#information-label {
	color: white;
	position: absolute;
	left: 160px;
	width: 1000px;
	top: 607px;
	height: 100px;
	font-size: 22px;
}

#id-label {
	color: #34b445;
	position: absolute;
	left: 500px;
	width: 740px;
	top: 440px;
	font-size: 150px;
	margin: auto 0;
	text-align: right;
}
