.itemdetailpage .content {
    -ms-grid-row: 1;
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

#openShare {
    margin-top:120px;
    margin-left: 120px;
    float:left;
    width:300px;
    font-size:x-large;
}



@media screen and (-ms-view-state: snapped) {
    .itemdetailpage .content {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
