<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Legg til i favoritter</title>
    <link rel="stylesheet" href="addToFavorites.css" />
    <script type="text/javascript" src="addToFavorites.js"></script>
</head>

<body>
    <div id="addToFavoritesFlyout" data-win-control="WinJS.UI.Flyout" aria-label="{holdRequest flyout}">
        <div id="addToFavoritesReply">
            <p><span id="message1"></span></p>
            <p><span id="message2"></span></p>
            <button type="button" class="button" id="closeAddToFavoritesButton">Lukk</button>
        </div>
    </div>
</body>

</html>

