body {
    background-size: 100% 100%;
}

#searchField {
    z-index: -1;
    display: block;
    text-align: center;
}

.inputSearchField {
    width: 300px;
}

h2 {
    font-weight: 500;
}

html {
    cursor: default;
}

#contenthost {
    height: 100%;
    width: 100%;
}

.appBar {
    -ms-grid-columns: auto auto;
}

#navigation .win-command {
    float: left;
}

#command .win-command {
    -ms-grid-coulumn: 2;
}

.win-commandimage {
    background-size: 40px 40px;
}

button:hover .win-label, button:active .win-label {
    color: rgb(200, 200, 200);
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr 0px;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 120px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 39px;
            margin-top: 59px;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-top: 37px;
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
    }

@media screen and (-ms-view-state: snapped) {
    .fragment header[role=banner] {
        -ms-grid-columns: auto 1fr;
        margin-left: 20px;
    }

        .fragment header[role=banner] .win-backbutton {
            margin: 0;
            margin-right: 10px;
            margin-top: 76px;
        }

            .fragment header[role=banner] .win-backbutton:disabled {
                display: none;
            }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-left: 0;
            margin-top: 68px;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {

    .fragment header[role=banner] {
        -ms-grid-columns: 100px 1fr;
    }

        .fragment header[role=banner] .win-backbutton {
            margin-left: 29px;
        }
}

.imageLoader img {
    opacity: 0;
    -ms-transform: scale(0.8, 0.8);
}

    .imageLoader img.loaded {
        opacity: 1;
        -ms-transition: opacity ease-out 0.2s, -ms-transform ease-out 0.2s;
        -ms-transform: scale(1, 1);
    }
