/* line 10, ../sass/splitview.scss */
.splitpage {
  -ms-grid-columns: 2fr 3fr;
  display: -ms-grid;
  height: 100%;
  width: 100%;
}

/* line 17, ../sass/splitview.scss */
.splitpage .itemlist .win-vertical.win-viewport .win-surface {
  margin-bottom: 60px;
}

/* line 21, ../sass/splitview.scss */
.splitpage header[role=banner] .pagetitle {
  -ms-grid-column: 2;
  overflow: hidden;
  width: calc(100% - 20px);
}

/* line 27, ../sass/splitview.scss */
.splitpage .itemlistsection {
  -ms-grid-row: 2;
  margin-left: 106px;
}

/* line 32, ../sass/splitview.scss */
.splitpage .itemlistsection .itemlist {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
}

/* line 39, ../sass/splitview.scss */
.splitpage .itemlist .win-vertical.win-viewport .win-container {
  margin-bottom: 15px;
  margin-right: 42px;
  padding: 7px;
}

/* line 45, ../sass/splitview.scss */
.splitpage .itemlistsection .itemlist .win-container .win-selectioncheckmark {
  display: none;
}

/* line 49, ../sass/splitview.scss */
.splitpage .itemlistsection .itemlist .win-container .win-selectioncheckmarkbackground {
  display: none;
}

/* line 53, ../sass/splitview.scss */
.splitpage .itemlistsection .itemlist .win-item {
  -ms-grid-columns: 110px 1fr;
  -ms-grid-rows: 1fr;
  display: -ms-grid;
  height: 110px;
  width: auto;
}

/* line 61, ../sass/splitview.scss */
.splitpage .itemlistsection .itemlist .win-item .item-image-container .item-image {
  max-width: 110px;
}

/* line 65, ../sass/splitview.scss */
.splitpage .itemlistsection .itemlist .win-item .item-info {
  -ms-grid-column: 2;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

/* line 72, ../sass/splitview.scss */
.splitpage .itemlistsection .itemlist .win-item .item-info .item-title {
  margin-top: 4px;
}

/* line 76, ../sass/splitview.scss */
.splitpage .itemlistsection .itemlist .item .item-info .item-subtitle {
  opacity: 0.6;
}

/* line 80, ../sass/splitview.scss */
.splitpage .itemlistsection .itemlist .win-item .item-info .item-description {
  max-height: 60px;
  overflow: hidden;
}

/* line 85, ../sass/splitview.scss */
.splitpage .articlesection {
  -ms-grid-column: 2;
  -ms-grid-row-span: 2;
  -ms-grid-row: 1;
  margin-left: 70px;
  overflow-y: auto;
  padding-right: 120px;
  position: relative;
  z-index: 0;
}

/* line 96, ../sass/splitview.scss */
.splitpage .articlesection .article-box {
  margin-top: 37px;
  margin-bottom: 50px;
}

/* line 101, ../sass/splitview.scss */
.splitpage .articlesection .article-box header {
  -ms-grid-columns: 180px 20px 1fr;
  -ms-grid-rows: auto 180px;
  display: -ms-grid;
  margin-bottom: 6px;
  margin-top: 60px;
}

/* line 109, ../sass/splitview.scss */
.splitpage .articlesection .article-box header .article-title {
  -ms-grid-column-span: 3;
}

/* line 113, ../sass/splitview.scss */
.splitpage .articlesection .article-box header .text {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

/* line 118, ../sass/splitview.scss */
.splitpage .articlesection .article-box .article-image-container {
  -ms-grid-row: 2;
  overflow: hidden;
  text-align: center;
}

/* line 124, ../sass/splitview.scss */
.splitpage .articlesection .article-box .article-image-container .article-image {
  /*
  max-width: 180px;
  height: auto;
  width: auto; */
  max-height: 180px;
}

/* line 132, ../sass/splitview.scss */
.splitpage .articlesection .article-content {
  overflow-y: auto;
}

/* line 136, ../sass/splitview.scss */
.splitpage .articlesection .article-content p {
  margin-bottom: 16pt;
}

@media screen and (-ms-view-state: filled) {
  /* line 141, ../sass/splitview.scss */
  .splitpage {
    -ms-grid-columns: 420px 1fr;
  }

  /* line 145, ../sass/splitview.scss */
  .splitpage .itemlistsection .itemlist .win-item {
    -ms-grid-columns: 60px 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;
    height: 60px;
    width: 280px;
  }

  /* line 153, ../sass/splitview.scss */
  .splitpage .itemlistsection .itemlist .win-item .item-image-container .item-image {
    max-width: 60px;
  }

  /* line 157, ../sass/splitview.scss */
  .splitpage .itemlistsection .itemlist .win-item .item-info .item-title {
    margin-top: 0px;
    max-height: 40px;
    overflow: hidden;
  }

  /* line 163, ../sass/splitview.scss */
  .splitpage .itemlistsection .itemlist .win-item .item-info .item-description {
    display: none;
  }

  /* line 167, ../sass/splitview.scss */
  .splitpage .articlesection {
    padding-right: 66px;
  }
}
@media screen and (-ms-view-state: snapped) {
  /* line 173, ../sass/splitview.scss */
  .splitpage {
    -ms-grid-columns: 320px 0px;
  }

  /* line 177, ../sass/splitview.scss */
  .splitpage .itemlistsection {
    margin-left: 6px;
  }

  /* line 181, ../sass/splitview.scss */
  .splitpage .itemlistsection .itemlist .win-item {
    -ms-grid-columns: 60px 1fr;
    height: 60px;
    width: 282px;
  }

  /* line 187, ../sass/splitview.scss */
  .splitpage .itemlistsection .itemlist .win-item .item-image-container .item-image {
    max-width: 60px;
  }

  /* line 192, ../sass/splitview.scss */
  .splitpage .itemlistsection .itemlist .win-item .item-info .item-title {
    margin-top: 2px;
    max-height: 30pt;
    overflow: hidden;
  }

  /* line 198, ../sass/splitview.scss */
  .splitpage .itemlistsection .itemlist .win-item .item-info .item-description {
    visibility: hidden;
  }

  /* line 202, ../sass/splitview.scss */
  .splitpage .articlesection {
    -ms-grid-row-span: 2;
    -ms-grid-row: 2;
    margin-left: 20px;
    padding-right: 36px;
    display: -ms-grid;
    margin-bottom: 25px;
    margin-top: 2px;
  }

  /* line 212, ../sass/splitview.scss */
  .splitpage .articlesection .article-box header {
    -ms-grid-rows: auto 60px 1fr;
    display: block;
    margin-top: 0;
    margin-bottom: 25px;
    margin-top: 5px;
  }

  /* line 220, ../sass/splitview.scss */
  .splitpage .articlesection .article-box .article-image-container {
    -ms-grid-row: 2;
    overflow: hidden;
    text-align: center;
  }

  /* line 226, ../sass/splitview.scss */
  .splitpage .articlesection .article-box .article-image-container .article-image {
    max-height: fill-available;
  }

  /* line 230, ../sass/splitview.scss */
  .splitpage .articlesection .article-box header .article-title {
    -ms-grid-row: 1;
  }

  /* line 234, ../sass/splitview.scss */
  .splitpage .articlesection .article-box header .text {
    -ms-grid-row: 3;
  }

  /* line 238, ../sass/splitview.scss */
  .splitpage .articlesection .article-box header .text .article-subtitle {
    margin-bottom: 20px;
    overflow: hidden;
  }

  /* line 243, ../sass/splitview.scss */
  .splitpage .itemlistsection, .splitpage .articlesection {
    -ms-grid-column: 2;
    visibility: hidden;
  }

  /* line 248, ../sass/splitview.scss */
  .splitpage .primarycolumn {
    -ms-grid-column: 1;
    visibility: visible;
  }
}
@media screen and (-ms-view-state: fullscreen-portrait) {
  /* line 255, ../sass/splitview.scss */
  .splitpage {
    -ms-grid-columns: 1fr 0px;
  }

  /* line 259, ../sass/splitview.scss */
  .splitpage .itemlistsection {
    margin-left: 86px;
  }

  /* line 263, ../sass/splitview.scss */
  .splitpage .itemlistsection .itemlist .win-vertical.win-viewport .win-container {
    margin-right: calc(100% - 510px);
  }

  /* line 267, ../sass/splitview.scss */
  .splitpage .articlesection {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    margin-left: 100px;
    padding-right: 100px;
  }

  /* line 274, ../sass/splitview.scss */
  .splitpage .articlesection .header {
    margin-top: 0;
  }

  /* line 278, ../sass/splitview.scss */
  .splitpage .itemlistsection, .splitpage .articlesection {
    -ms-grid-column: 2;
    visibility: hidden;
  }

  /* line 283, ../sass/splitview.scss */
  .splitpage .primarycolumn {
    -ms-grid-column: 1;
    visibility: visible;
  }
}
