<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Solvberget.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Solvberget.Domain.Properties.Settings>
            <setting name="AlephServerUrl" serializeAs="String">
                <value>http://aleph.stavanger.kommune.no/X?</value>
            </setting>
            <setting name="LinticketUrl" serializeAs="String">
                <value>http://www.linticket.no/json/Sølvberget</value>
            </setting>
            <setting name="ImdbApiUrl" serializeAs="String">
                <value>http://www.imdbapi.com/?t=</value>
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://localhost:7089/Content/</value>
            </setting>
            <setting name="ImageCacheFolder" serializeAs="String">
                <value>cacheImages/</value>
            </setting>
            <setting name="BokBasenServerUri" serializeAs="String">
                <value>http://193.91.211.230/bokomslagServer/getInfoNew.Asp?</value>
            </setting>
            <setting name="BokBasenSystem" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastFmApiUrl" serializeAs="String">
                <value>http://ws.audioscrobbler.com/2.0/?method=album.getinfo&amp;api_key=8fd5cf4bb0a76818d216097e37c6a097&amp;</value>
            </setting>
            <setting name="OpeningHoursWebpage" serializeAs="String">
                <value>http://www.stavanger-kulturhus.no/aapningstider_paa_soelvberget</value>
            </setting>
            <setting name="ContactWebPage" serializeAs="String">
                <value>http://www.stavanger-kulturhus.no/kontakt_oss</value>
            </setting>
            <setting name="BokElskereServerUrl" serializeAs="String">
                <value>http://bokelskere.no/api/1.0/boker/info/</value>
            </setting>
            <setting name="PinToSmsUrl" serializeAs="String">
                <value>http://aleph.stavanger.kommune.no/wtw/glemtpassord.php</value>
            </setting>
            <setting name="NewsRssUrl" serializeAs="String">
                <value>http://stavanger-kulturhus.no/index.php/rss/feed/test</value>
            </setting>
        </Solvberget.Domain.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
