<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Solvberget.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Solvberget.Domain.Properties.Settings>
            <setting name="AlephServerUrl" serializeAs="String">
                <value>http://aleph.stavanger.kommune.no/X?</value>
            </setting>
            <setting name="LinticketUrl" serializeAs="String">
                <value>http://www.linticket.no/json/Sølvberget</value>
            </setting>
            <setting name="ImdbApiUrl" serializeAs="String">
                <value>http://www.imdbapi.com/?t=</value>
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://localhost:7089/Content/</value>
            </setting>
            <setting name="ImageCacheFolder" serializeAs="String">
                <value>cacheImages/</value>
            </setting>
        </Solvberget.Domain.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
