@theme-color2: #262626;
@theme-color: #3D6AA2;
@theme-color3:#767171;
@theme-color4:white;

@bg-color: #E9E9E9;

body{
  background-color:@bg-color;
}

/** LISTS **/

h2 {
  margin:0px;
  font-size:1em;
  font-weight: bold;
  text-transform: uppercase;
  color: @theme-color3;
}

.media-list .media{
  background-color:@theme-color4;
  display:table;
  width:100%;
  height:80px;
  cursor:pointer;
}

.media-list .media>span{
  width:60px;
  display:table-cell;
  vertical-align:middle;
}

.media-list .media .media-body{
  display:table-cell;
  padding-left:10px;
  padding-right:10px;
  vertical-align:middle;
  text-align:left;
}

.media-list .media .media-body h4{
  margin:0px;
  line-height:auto;
  font-weight:normal;
  font-size:1.1em;
}

.list-item-actions{
  display:table-cell;
  vertical-align:middle;
  text-align:right;
}