.templates {
    display: none;
}

/*body {
    overflow-x: hidden;
    overflow-y: hidden;
}*/

.homepage .home-large-template {
    height: 260px;
    width: 260px;
    position: relative;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
    /*margin-top: 5px;*/
}

    .homepage .home-large-template .item-vector-icon {
        -ms-grid-row-span: 2;
        width: 100%;
        height: 100%;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;
        font-size: 70pt;
    }

    .homepage .home-large-template .item-image {
        -ms-grid-row-span: 2;
    }

    .homepage .home-large-template .item-overlay {
        -ms-grid-row: 2;
        height: 45px;
        -ms-grid-rows: 1fr 25px;
        display: -ms-grid;
        padding: 6px 15px 2px 15px;
        position: absolute;
        bottom: 0;
    }

    .homepage .home-large-template .item-title {
        -ms-grid-row: 1;
        overflow: hidden;
        width: 220px;
    }

    .homepage .home-large-template .item-overlay .item-subtitle {
        -ms-grid-row: 2;
        width: 220px;
    }

.homepage .home-medium-template {
    height: 125px;
    width: 260px;
    position: relative;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
    /*margin-top: 5px;*/
}

    .homepage .home-medium-template .item-vector-icon {
        -ms-grid-row-span: 2;
        width: 100%;
        height: 100%;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;
        font-size: 24pt;
    }

    .homepage .home-medium-template .item-image {
        -ms-grid-row-span: 2;
    }

    .homepage .home-medium-template .item-overlay {
        -ms-grid-row: 2;
        height: 45px;
        -ms-grid-rows: 1fr 25px;
        display: -ms-grid;
        padding: 6px 15px 2px 15px;
        position: absolute;
        bottom: 0;
    }

    .homepage .home-medium-template .item-title {
        -ms-grid-row: 1;
        overflow: hidden;
        width: 220px;
        text-align: center;
    }

    .homepage .home-medium-template .item-overlay .item-subtitle {
        -ms-grid-row: 2;
        width: 220px;
        text-align: center;
    }

.homepage .home-medium-rotate-template {
    height: 260px;
    width: 125px;
    position: relative;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
    /*margin-top: 5px;*/
}

    .homepage .home-medium-rotate-template .item-vector-icon {
        -ms-grid-row-span: 2;
        width: 100%;
        height: 100%;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;
        font-size: 24pt;
    }

    .homepage .home-medium-rotate-template .item-image {
        -ms-grid-row-span: 2;
    }

    .homepage .home-medium-rotate-template .item-overlay {
        -ms-grid-row: 2;
        height: 45px;
        -ms-grid-rows: 1fr 25px;
        display: -ms-grid;
        padding: 6px 0px 2px 0px;
        position: absolute;
        bottom: 0;
    }

    .homepage .home-medium-rotate-template .item-title {
        -ms-grid-row: 1;
        overflow: hidden;
        width: 125px;
        text-align: center;
    }

    .homepage .home-medium-rotate-template .item-overlay .item-subtitle {
        -ms-grid-row: 2;
        width: 220px;
    }

.homepage .home-small-template {
    height: 125px;
    width: 125px;
    position: relative;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
    /*margin-top: 5px;*/
}

    .homepage .home-small-template .item-vector-icon {
        -ms-grid-row-span: 2;
        width: 100%;
        height: 100%;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;
        font-size: 24pt;
    }

    .homepage .home-small-template .item-image {
        -ms-grid-row-span: 2;
    }

    .homepage .home-small-template .item-overlay {
        -ms-grid-row: 2;
        height: 45px;
        -ms-grid-rows: 1fr 25px;
        display: -ms-grid;
        padding: 6px 0px 2px 0px;
        position: absolute;
        bottom: 0;
        width: 125px;
    }

    .homepage .home-small-template .item-title {
        -ms-grid-row: 1;
        overflow: hidden;
        width: 125px;
        text-align: center;
    }

    .homepage .home-small-template .item-overlay .item-subtitle {
        -ms-grid-row: 2;
        width: 220px;
    }

.homepage {
    display: -ms-grid;
    -ms-grid-rows: 1fr 405px 1fr;
    -ms-grid-columns: 1fr 810px 1fr;
    width: 100%;
    height: 100%;
}

    .homepage .logo-holder {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        position: relative;
    }

        .homepage .logo-holder img {
            margin-top: 5px;
            position: absolute;
            right: 0;
        }

    .homepage .home-list {
        height: 405px;
        width: 810px;
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        -ms-grid-row-align: center;
        -ms-grid-column-align: center;
    }

        .homepage .home-list .win-surface {
            margin: 0;
        }

    /*.homepage .home-list .win-item {
            height: 250px;
            width: 250px;
            position: relative;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
        }

            .homepage .home-list .win-item .item-image {
                -ms-grid-row-span: 2;
            }

            .homepage .home-list .win-item .item-overlay {
                -ms-grid-row: 2;
                height: 45px;
                -ms-grid-rows: 1fr 25px;
                display: -ms-grid;
                padding: 6px 15px 2px 15px;
                position: absolute;
                bottom: 0;
            }

                .homepage .home-list .win-item .item-overlay .item-title {
                    -ms-grid-row: 1;
                    overflow: hidden;
                    width: 220px;
                }

                .homepage .home-list .win-item .item-overlay .item-subtitle {
                    -ms-grid-row: 2;
                    width: 220px;
                }*/

    .homepage .color1 {
        /*background-color: rgba(0, 51, 102, 1.0);*/
        background-color: rgba(0, 102, 153, 1.0);
    }

    .homepage .color2 {
        /*background-color: rgba(0, 153, 204, 1.0);*/
        background-color: rgba(0, 153, 204, 1.0);
    }

    .homepage .color3 {
        /*background-color: rgba(0, 85, 34, 1.0);*/
        background-color: rgba(68, 136, 17, 1.0);
    }

    .homepage .color4 {
        /*background-color: rgba(136, 187, 0, 1.0);*/
        background-color: rgba(136, 187, 0, 1.0);
    }

    .homepage .color5 {
        /*background-color: rgba(255, 153, 0, 1.0);*/
        background-color: rgba(229, 102, 0, 1.0);
    }

    .homepage .color6 {
        /*background-color: rgba(204, 51, 0, 1.0);*/
        background-color: rgba(204, 51, 0, 1.0);
    }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {

    .homepage .home-list .win-item .item-overlay .item-title {
        color: rgba(255,255,255,0.87);
    }

    .homepage .home-list .win-item .item-overlay .item-subtitle {
        color: rgba(255,255,255,0.6);
    }
}

@media screen and (-ms-view-state: filled) {

    /* USE LANDSCAPE SETTINGS */

}

@media screen and (-ms-view-state: snapped) {

    .homepage {
        display: -ms-grid;
        -ms-grid-rows: 1fr;
        -ms-grid-columns: 1fr;
        width: 100%;
        height: 100%;
    }

        .homepage .home-list {
            height: calc(100% - 25px);
            width: calc(100% - 17px);
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            -ms-grid-row-align: center;
            -ms-grid-column-align: center;
            margin-top: 25px;
            margin-left: 17px;
        }

        .homepage .homeContent .home-list .win-vertical.win-viewport .win-surface {
            margin-bottom: 30px;
            margin-left: 6px;
        }

        .homepage .homeContent .home-list .win-vertical.win-viewport .win-container {
            margin-bottom: 15px;
            margin-right: 42px;
            padding: 7px;
        }

        .homepage .home-list .home-snapped-template {
            -ms-grid-columns: 60px 1fr;
            -ms-grid-rows: 1fr;
            display: -ms-grid;
            height: 60px;
            width: 272px;
            /*margin-left: 10px;*/
        }

            .homepage .home-list .home-snapped-template .item-image, .homepage .home-list .win-item:hover .item-image {
                -ms-grid-column: 1;
                -ms-grid-row-span: 1;
                height: 60px;
                width: 60px;
            }

            .homepage .home-list .home-snapped-template .item-overlay {
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                -ms-grid-row-align: stretch;
                background: transparent;
                display: inline-block;
                margin-left: 10px;
                padding: 0;
            }

                .homepage .home-list .home-snapped-template .item-overlay .item-title {
                    max-height: 40px;
                    margin-top: 20px;
                    width: 202px;
                }

                .homepage .home-list .home-snapped-template .item-overlay .item-subtitle {
                    opacity: 0.6;
                    width: 202px;
                }

            .homepage .home-list .home-snapped-template .item-vector-icon {
                font-size: 20pt;
                -ms-grid-column: 1;
                -ms-grid-row-span: 1;
                text-align: center;
                margin-top: 10px;
            }

        .homepage .logo-holder {
            position: relative;
        }

            .homepage .logo-holder img {
                position: absolute;
                padding-right: 25px;
                right: 0;
                bottom: 0;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {

    .homepage {
        display: -ms-grid;
        -ms-grid-rows: 1fr 810px 1fr;
        -ms-grid-columns: 1fr 410px 1fr;
        width: 100%;
        height: 100%;
    }

        .homepage .home-list {
            height: 810px;
            width: 410px;
            -ms-grid-row: 2;
            -ms-grid-column: 2;
            -ms-grid-row-align: center;
            -ms-grid-column-align: center;
        }

            .homepage .home-list .win-surface {
                margin: 0;
            }
}
