.opening-hours .content {
    -ms-grid-row: 2;
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
    display: none;
}

    .opening-hours .content article {
        /* Define a multi-column, horizontally scrolling article by default. */
        column-fill: auto;
        column-gap: 20px;
        column-width: 480px;
        height: calc(100% - 20px);
        margin-left: 120px;
        margin-top: 5px;
        width: 370px;
    }

    .opening-hours .content a:link, .contact-info .content a:visited {
        color: rgb(29, 29, 29);
    }

    .opening-hours .content article #opening-hours-information-template-holder .opening-hour-tile:first-child {
        margin-top: 0px;
    }

    .opening-hours .content article #opening-hours-information-template-holder .opening-hour-tile {
        height: 250px;
        padding: 20px;
        margin-top: 8px;
        width: 350px;
        max-width: 350px;
        margin-right: 0px;
        overflow: hidden;
    }

        .opening-hours .content article #opening-hours-information-template-holder .opening-hour-tile .opening-hours-list .opening-time-list-item {
            margin-top: 3px;
        }

            .opening-hours .content article #opening-hours-information-template-holder .opening-hour-tile .opening-hours-list .opening-time-list-item .opening-time {
                float: right;
            }

.opening-hours #opening-hours-loading {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

progress.withText {
    color: inherit;
    width: 100px;
    height: 100px;
}

.templates {
    display: none;
}

@media screen and (-ms-view-state: fullscreen-portrait) {

    .opening-hours .content article {
        margin-left: 100px;
    }
}

@media screen and (-ms-view-state: snapped) {

    .opening-hours .content article {
        /* Define a single column, vertically scrolling article in snapped mode. */
        -ms-grid-columns: 300px 1fr;
        -ms-grid-row: 2;
        display: -ms-grid;
        margin-left: 8px;
        width: 250px;
        height: 100%;
    }

        .opening-hours .content article #opening-hours-information-template-holder .opening-hour-tile {
            -ms-grid-column: 1;
            height: 250px;
            padding: 20px;
            margin-top: 8px;
            margin-bottom: 8px;
            width: 250px;
            max-width: 250px;
            margin-right: 8px;
            overflow: hidden;
        }

            .opening-hours .content article #opening-hours-information-template-holder .opening-hour-tile .opening-hours-list {
                font-size: 9pt;
            }
}
