<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Film</title>
    <link rel="stylesheet" href="film.css" />
    <script type="text/javascript" src="film.js"></script>
</head>
<body>
    <div class="templates">
        <div id="imdbTemplate">
            <img src="ms-appx:///images/externalSites/imdb/imdb-48x48.png" />
            <h2 class="imdbRating" data-win-bind="textContent: ImdbRating"></h2>
        </div>

    </div>
    <section id="fragmentContent">

        <article id="review">

            <h2 id="reviewTitle">IMDB omtale</h2>

            <div id="reviewContent">
                Dette er en fin film!
            </div>

        </article>

        <article id="details">
            <h2 id="H1">Fakta</h2>

            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Ean'}"></div>
                <div class="fact-value" data-win-bind="innerText:Ean"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'OriginalTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:OriginalTitle"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Numbering'}"></div>
                <div class="fact-value" data-win-bind="innerText:Numbering"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'PartTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:PartTitle"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Edition'}"></div>
                <div class="fact-value" data-win-bind="innerText:Edition"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'ProductionYear'}"></div>
                <div class="fact-value" data-win-bind="innerText:ProductionYear"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'TypeAndNumberOfDiscs'}"></div>
                <div class="fact-value" data-win-bind="innerText:TypeAndNumberOfDiscs"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Contents'}"></div>
                <div class="fact-value" data-win-bind="innerText:Contents"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Actors'}"></div>
                <div class="fact-value" data-win-bind="innerText:Actors"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'AgeLimit'}"></div>
                <div class="fact-value" data-win-bind="innerText:AgeLimit"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'NorwegianTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:NorwegianTitle"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Subject'}"></div>
                <div class="fact-value" data-win-bind="innerText:Subject"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'CompositionType'}"></div>
                <div class="fact-value" data-win-bind="innerText:CompositionType"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'SubtitleLanguage'}"></div>
                <div class="fact-value" data-win-bind="innerText:SubtitleLanguage"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'ReferencedPlaces'}"></div>
                <div class="fact-value" data-win-bind="innerText:ReferencedPlaces"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Genre'}"></div>
                <div class="fact-value" data-win-bind="innerText:Genre"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'ReferredPersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:ReferredPersons"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'ReferredOrganizations'}"></div>
                <div class="fact-value" data-win-bind="innerText:ReferredOrganizations"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'InvolvedPersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:InvolvedPersons"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'InvolvedOrganizations'}"></div>
                <div class="fact-value" data-win-bind="innerText:InvolvedOrganizations"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'DocType'}"></div>
                <div class="fact-value" data-win-bind="innerText:DocType"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'DocumentNumber'}"></div>
                <div class="fact-value" data-win-bind="innerText:DocumentNumber"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'TargetGroup'}"></div>
                <div class="fact-value" data-win-bind="innerText:TargetGroup"></div>
            </div>

            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Language'}"></div>
                <div class="fact-value" data-win-bind="innerText:Language"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Languages'}"></div>
                <div class="fact-value" data-win-bind="innerText:Languages"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'DocumentType'}"></div>
                <div class="fact-value" data-win-bind="innerText:DocumentType"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'LocationCode'}"></div>
                <div class="fact-value" data-win-bind="innerText:LocationCode"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Title'}"></div>
                <div class="fact-value" data-win-bind="innerText:Title"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'SubTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:SubTitle"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'ResponsiblePersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:ResponsiblePersons"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'PlacePublished'}"></div>
                <div class="fact-value" data-win-bind="innerText:PlacePublished"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'Publisher'}"></div>
                <div class="fact-value" data-win-bind="innerText:Publisher"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'PublishedYear'}"></div>
                <div class="fact-value" data-win-bind="innerText:PublishedYear"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'SeriesTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:SeriesTitle"></div>
            </div>
            <div class="fact">
                <div class="fact-name" data-win-res="{textContent: 'SeriesNumber'}"></div>
                <div class="fact-value" data-win-bind="innerText:SeriesNumber"></div>
            </div>


        </article>


    </section>
</body>
</html>

