<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Film</title>
    <link rel="stylesheet" href="film.css" />
    <script type="text/javascript" src="film.js"></script>
</head>

<body>

    <div class="templates">
        <div id="imdbTemplate">
            <img src="ms-appx:///images/externalSites/imdb/imdb-48x48.png" id="imdb-logo" alt="IMDB" />
            <!--<h2 class="imdbRating" data-win-bind="textContent: ImdbRating DocumentDetailConverters.imdbRatingConverter"></h2>-->
            <div id="ratingControl" class="win-small" data-win-control="WinJS.UI.Rating" data-win-options="{disabled: true}"></div>
        </div>

    </div>

    <section id="fragmentContent">

        <div id="left-content">

            <article id="docLocAndAvail">
                <h2>Tilgjengelighet</h2>
                <div id="availabilityHolder"></div>
            </article>

        </div>

        <article id="details">

            <h2>Fakta om filmen</h2>

            <div class="fact" data-win-bind="style.display: OriginalTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'OriginalTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:OriginalTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Numbering DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Numbering'}"></div>
                <div class="fact-value" data-win-bind="innerText:Numbering"></div>
            </div>
            <div class="fact" data-win-bind="style.display: PartTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'PartTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:PartTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: ProductionYear DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ProductionYear'}"></div>
                <div class="fact-value" data-win-bind="innerText:ProductionYear"></div>
            </div>
            <div class="fact" data-win-bind="style.display: TypeAndNumberOfDiscs DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'TypeAndNumberOfDiscs'}"></div>
                <div class="fact-value" data-win-bind="innerText:TypeAndNumberOfDiscs"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Contents DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Contents'}"></div>
                <div class="fact-value" data-win-bind="innerText:Contents"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Actors DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Actors'}"></div>
                <div class="fact-value" data-win-bind="innerText:Actors DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: AgeLimit DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'AgeLimit'}"></div>
                <div class="fact-value" data-win-bind="innerText:AgeLimit"></div>
            </div>
            <div class="fact" data-win-bind="style.display: NorwegianTitle DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'NorwegianTitle'}"></div>
                <div class="fact-value" data-win-bind="innerText:NorwegianTitle"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Subject DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Subject'}"></div>
                <div class="fact-value" data-win-bind="innerText:Subject"></div>
            </div>
            <div class="fact" data-win-bind="style.display: CompositionType DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'CompositionType'}"></div>
                <div class="fact-value" data-win-bind="innerText:CompositionType"></div>
            </div>
            <div class="fact" data-win-bind="style.display: SubtitleLanguage DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'SubtitleLanguage'}"></div>
                <div class="fact-value" data-win-bind="innerText:SubtitleLanguage DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: ReferencedPlaces DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ReferencedPlaces'}"></div>
                <div class="fact-value" data-win-bind="innerText:ReferencedPlaces"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Genre DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Genre'}"></div>
                <div class="fact-value" data-win-bind="innerText:Genre DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: ReferredPersons DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ReferredPersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:ReferredPersons DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: ReferredOrganizations DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ReferredOrganizations'}"></div>
                <div class="fact-value" data-win-bind="innerText:ReferredOrganizations DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: InvolvedPersons DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'InvolvedPersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:InvolvedPersons DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: InvolvedOrganizations DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'InvolvedOrganizations'}"></div>
                <div class="fact-value" data-win-bind="innerText:InvolvedOrganizations DocumentDetailConverters.personConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Language DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Language'}"></div>
                <div class="fact-value" data-win-bind="innerText:Language"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Languages DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'Languages'}"></div>
                <div class="fact-value" data-win-bind="innerText:Languages DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: ResponsiblePersons DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-res="{textContent: 'ResponsiblePersons'}"></div>
                <div class="fact-value" data-win-bind="innerText:ResponsiblePersons DocumentDetailConverters.listConverter"></div>
            </div>
            <div class="fact" data-win-bind="style.display: Publisher DocumentDetailConverters.hideNullOrEmptyConverter">
                <div class="fact-name" data-win-bind="innerText:PublisherType"></div>
                <div class="fact-value" data-win-bind="innerText:Publisher"></div>
            </div>

        </article>

    </section>

</body>
</html>

