<h2>LISTER</h2>

<ul class="media-list">
    <li class="media">
        <span><img class="media-object" src="http://placehold.it/60x80" alt="Alt text here"></span>
        <div class="media-body">
            <h4 class="media-heading">Nyheter den siste uken: Skjønnlitteratur for voksne</h4>
        </div>
    </li>
    <li class="media">
        <span><img class="media-object" src="http://placehold.it/60x80" alt="Alt text here"></span>
        <div class="media-body">
            <h4 class="media-heading">Nyheter den siste uken: Skjønnlitteratur for voksne</h4>
        </div>
    </li>
    <li class="media">
        <span><img class="media-object" src="http://placehold.it/60x60" alt="Alt text here"></span>
        <div class="media-body">
            <h4 class="media-heading">Nyheter den siste uken: Skjønnlitteratur for voksne</h4>
        </div>
    </li>
    <li class="media">
        <span><img class="media-object" src="http://placehold.it/60x60" alt="Alt text here"></span>
        <div class="media-body">
            <h4 class="media-heading">Nyheter den siste uken: Skjønnlitteratur for voksne</h4>
        </div>
    </li>
    <li class="media">
        <span><img class="media-object" src="http://placehold.it/60x60" alt="Alt text here"></span>
        <div class="media-body">
            <h4 class="media-heading">Nyheter den siste uken: Skjønnlitteratur for voksne</h4>
        </div>
    </li>
    <li class="media">
        <span><img class="media-object" src="http://placehold.it/60x60" alt="Alt text here"></span>
        <div class="media-body">
            <h4 class="media-heading">Nyheter den siste uken: Skjønnlitteratur for voksne</h4>
        </div>
    </li>
    <li class="media">
        <span><img class="media-object" src="http://placehold.it/60x60" alt="Alt text here"></span>
        <div class="media-body">
            <h4 class="media-heading">Nyheter den siste uken: Skjønnlitteratur for voksne</h4>
        </div>
    </li>
</ul>