<li class='listitem'>
    <div>
    <a href="{{url}}"><span><img class='list-item-thumb' ng-src='{{imageUrl}}' err-src="{{'img/placeholder/' + type + '.png'}}"></span></a>
    <div class='media-body'>
        <a href="{{url}}"><h4 class='media-heading'>{{title}}</h4></a>
        <p ng-show="subtext" ng-bind-html="subtext"></p>
    </div>
    <span class='list-item-actions'>
        <span class='glyphicon glyphicon-star' ng-show="showFavorite && isFavorite" ng-click="toggleFavorite()" />
        <span class='glyphicon glyphicon-star-empty' ng-show="showFavorite && !isFavorite" ng-click="toggleFavorite()" />
    </span>
    </div>
    <div class="gutter"><span ng-show="gutterText || gutterTextPrefix">{{gutterTextPrefix}}{{gutterText}}</span></div>
</li>