<div ng-include="'views/mediainfo.html'" />
<h2>Fakta om filmen</h2>
<div class="media-item-info-box">

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Publikasjonsår</div>
            <div class="meta-value">2005</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Type og antall plater</div>
            <div class="meta-value">1 Blue-ray-plate (2t, 50min)</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Aldersgrense</div>
            <div class="meta-value">15 år</div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Omtalte steder</div>
            <div class="meta-value">USA</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Skuespillere</div>
            <div class="meta-value">
                Al Pacino, Steven Bauer, Michelle Pfeiffer, <a>vis alle...</a>
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Tekstet på</div>
            <div class="meta-value">Engelsk, Svensk, Dansk, Norsk bokmål, <a>Vis alle...</a>
                </ul>
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Sjanger</div>
            <div class="meta-value">Action</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Involverte personer</div>
            <div class="meta-value">Brian De Palma (regissør)</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Språk</div>
            <div class="meta-value">Flerspråklig</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Språk</div>
            <div class="meta-value">Engelsk, Japansk, Fransk, vis alle</div>
        </div>


        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Ansvarlige personer</div>
            <div class="meta-value">screenplay by Oliver Stone, directed by Brian De Palma</div>
        </div>


        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Utgiver</div>
            <div class="meta-value">Universal Pictures Nordic</div>
        </div>

    </div>

</div>