<div style="background-color:#6B6B6B; margin:-20px; margin-bottom:20px; padding:20px;">

    <img ng-src="{{imageUrl}}" style="width:120px; float:left; margin-right:20px" />
    <h1 style="color:white; font-size:1.6em">{{document.Title}}</h1>
    <p style="color:white">{{document.Type}}</p>
    <div class="clearfix"></div>
</div>

<h2>Tilgjengelighet</h2>
<div style="margin-bottom:20px; padding:10px; background:white">
    <strong>Hovedbibl.</strong>
    <br/>
    Musikkbiblioteket
    <br/>
    Film Action/Spenning
    <br/>
    Finnes på hylle: OCE
</div>
<h2>Fakta om boken</h2>
<div style="margin-bottom:20px; padding:10px; background:white">
    <strong>Publikasjonsår.</strong>
    <br/>
    2004
    <br/>
    <strong>Type og antall plater.</strong>
    <br/>
    1 videoplate (DVD-video) (2t)
</div>