<div ng-include="'views/media.common.html'" />
<h2>Fakta om tidsskriftet</h2>

<div class="media-item-info-box">
<div class="row">
    <div class="col-xs-6 col-md-3" ng-show="document.subjects">
        <div class="meta-label">Emne</div>
        <div class="meta-value"><span ng-repeat="p in document.subjects">{{p}}<span ng-show=" ! $last ">, </span></span></div>
    </div>
    <div class="col-xs-6 col-md-3" ng-show="document.language">
        <div class="meta-label">Språk</div>
        <div class="meta-value">{{document.language}}</div>
    </div>
    <div class="col-xs-6 col-md-3" ng-show="document.publisher">
        <div class="meta-label">Forlag</div>
        <div class="meta-value">{{document.publisher}}</div>
    </div>
</div>
    </div>
<div ng-include="'views/media.share.html'"/>