<header class="media-item-details">

    <img ng-src="{{imageUrl}}" err-src="{{'img/' + document.type + '-placeholder.png'}}" />
    <h1>{{document.title}}</h1>
    <p>{{document.subTitle}}</p>

    <a ng-show="rating.score" class="document-rating" title="{{rating.source + ': ' + rating.score + '/' + rating.maxScore}}" ng-href="{{rating.sourceUrl}}">
        <img ng-src="{{'img/' + rating.source + '-logo.png'}}" />
        <i ng-repeat="n in range(rating.score)" class="glyphicon glyphicon-star"/><i ng-repeat="n in range(rating.maxScore-rating.score)" class="glyphicon glyphicon-star empty"/>
    </a>

    <div class="clearfix"></div>
</header>

<div class="media-item-details-actions">
    <button type="button" class="btn btn-sm" ng-click="isReserved = !isReserved"><i class="glyphicon glyphicon-bookmark" ng-class="{ 'is-reserved' : isReserved }"></i> Reserver</button>
    <button type="button" class="btn btn-sm" ng-click="isFavorite = !isFavorite"><i class="glyphicon" ng-class="{ 'glyphicon-star' : isFavorite, 'glyphicon-star-empty' : !isFavorite }"></i> Favoritt</button>
</div>

<h2>Tilgjengelighet</h2>

<div class="media-item-info-box">

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Filial</div>
            <strong>{{document.availability.branch}}</strong>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Finnes på hylle</div>
            <div class="meta-value">
                {{document.classification}} {{document.availability.location}}
                <span class="meta-value placeholder" ng-hide="document.classification || document.availability.location">-</span>
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Avdeling</div>
            <div class="meta-value">{{document.availability.department}}
                <span class="meta-value placeholder" ng-hide="document.availability.department">-</span>
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Samling</div>
            <div class="meta-value">{{document.availability.collection}}
                <span class="meta-value placeholder" ng-hide="document.availability.collection">-</span>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="meta-label">Tilgjengelighet</div>
    </div>
    <div class="col-xs-12 col-md-6">
        <i class="glyphicon glyphicon-ok-sign text-success" ng-hide="{{document.Availability.AvailableCount == 0}}"></i>
        <i class="glyphicon glyphicon-minus-sign text-error" ng-show="{{document.Availability.AvailableCount == 0}}"></i>
        {{document.availability.availableCount}} av {{document.availability.totalCount}} er tilgjengelig for utlån
    </div>
    <div class="col-xs-12 col-md-6" ng-show="{{document.Availability.EstimatedAvailableDate}}">
        Tidligst tilgjengelig {{document.availability.estimatedAvailableDate}}
    </div>
    </div>
</div>