<h2>Mine Personlige Detaljer</h2>
<div class="media-item-info-box">

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Navn</div>
            <div class="meta-value">{{userInfo.name}}</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Addresse</div>
            <div class="meta-value">{{userInfo.prefixAddress}}
            <br/>{{userInfo.streetAddress}}
                <br/>{{userInfo.cityAddress}}</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">E-post</div>
            <div class="meta-value">{{userInfo.email}}</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Fødselsdato</div>
            <div class="meta-value">{{userInfo.dateOfBirth}}</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Telefon</div>
            <div class="meta-value">{{userInfo.homePhoneNumber}}</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Mobiltelefon</div>
            <div class="meta-value">{{userInfo.cellPhoneNumber}}</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Bibliotek</div>
            <div class="meta-value">{{userInfo.homeLibrary}}</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Balanse</div>
            <div class="meta-value">{{userInfo.balance}}</div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="meta-label">Kredittgrense</div>
            <div class="meta-value">{{userInfo.cashLimit}}</div>
        </div>
    </div>

</div>