<div class="row">
    <div class="btn-group btn-group-justified hidden-xs">
        <a ng-href="{{path('MyLoansCtrl')}}" type="button" class="btn btn-default">Lån</a>
        <a ng-href="{{path('MyReservationsCtrl')}}" type="button" class="btn btn-default">Reservasjoner</a>
        <a ng-href="{{path('MyFavoritesCtrl')}}" type="button" class="btn btn-default active">Favoritter</a>
        <a ng-href="{{path('MyFinesCtrl')}}" type="button" class="btn btn-default">Gebyrer</a>
        <a ng-href="{{path('MyMessagesCtrl')}}" type="button" class="btn btn-default">Meldinger<span ng-show="newMessagesCount>0" class="badge pull-right">{{newMessagesCount}}</span></a>
        <a ng-href="{{path('MyDetailsCtrl')}}" type="button" class="btn btn-default">Profil</a>
    </div>
    <div class="btn-group btn-group-justified visible-xs">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Favoritter
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a ng-href="{{path('MyLoansCtrl')}}" type="button" class="btn btn-default">Lån</a></li>
            <li><a ng-href="{{path('MyReservationsCtrl')}}" type="button" class="btn btn-default">Reservasjoner</a></li>
            <li><a ng-href="{{path('MyFavoritesCtrl')}}" type="button" class="btn btn-default">Favoritter</a></li>
            <li><a ng-href="{{path('MyFinesCtrl')}}" type="button" class="btn btn-default">Gebyrer</a></li>
            <li><a ng-href="{{path('MyMessagesCtrl')}}" type="button" class="btn btn-default">Meldinger<span ng-show="newMessagesCount>0" class="badge pull-right">{{newMessagesCount}}</span></a></li>
            <li><a ng-href="{{path('MyDetailsCtrl')}}" type="button" class="btn btn-default">Profil</a></li>
        </ul>
    </div>
</div>

<ul class="media-list">
    <div ng-repeat="fav in favorites" list-item="fav.document.title" subtext="fav.document.subTitle" document-type="fav.document.type" document-id="fav.document.id"
         image-url="apiPrefix + 'documents/' + fav.document.id + '/thumbnail'" show-favorite="true" is-favorite="fav.document.isFavorite" url="pathForDocument(fav.document)"/>
</ul>

<div ng-show="favorites.length ==0">Du har ingen favoritter.</div>
<img src="/img/ajax-loader.gif" ng-hide="favorites.length >= 0" />