<div class="row">
    <div class="btn-group btn-group-justified hidden-xs">
        <a ng-href="{{path('MyMessagesCtrl')}}" type="button" class="btn btn-default">Meldinger<span ng-show="newMessagesCount>0" class="badge pull-right">{{newMessagesCount}}</span></a>
        <a ng-href="{{path('MyLoansCtrl')}}" type="button" class="btn btn-default">Lån</a>
        <a ng-href="{{path('MyReservationsCtrl')}}" type="button" class="btn btn-default">Reservasjoner</a>    
        <a ng-href="{{path('MyFinesCtrl')}}" type="button" class="btn btn-default active">Gebyrer</a>
        <a ng-href="{{path('MyFavoritesCtrl')}}" type="button" class="btn btn-default">Favoritter</a>
        <a ng-href="{{path('MyDetailsCtrl')}}" type="button" class="btn btn-default">Profil</a>
    </div>
    <div class="btn-group btn-group-justified visible-xs">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Profil
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a ng-href="{{path('MyMessagesCtrl')}}" type="button" class="btn btn-default">Meldinger<span ng-show="newMessagesCount>0" class="badge pull-right">{{newMessagesCount}}</span></a></li>
            <li><a ng-href="{{path('MyLoansCtrl')}}" type="button" class="btn btn-default">Lån</a></li>
            <li><a ng-href="{{path('MyReservationsCtrl')}}" type="button" class="btn btn-default">Reservasjoner</a></li>    
            <li><a ng-href="{{path('MyFinesCtrl')}}" type="button" class="btn btn-default">Gebyrer</a></li>    
            <li><a ng-href="{{path('MyFavoritesCtrl')}}" type="button" class="btn btn-default">Favoritter</a></li>
            <li><a ng-href="{{path('MyDetailsCtrl')}}" type="button" class="btn btn-default">Profil</a></li>
        </ul>
    </div>
</div>
<h2 style="margin-top:20px">Balanse</h2>
<div class="media-item-info-box">
{{userInfo.balance}},-
</div>
<h2 style="margin-top:20px">Gebyrer</h2>
<div ng-show="userInfo.fines.length ==0">Du har ingen gebyrer.</div>
<ul class="media-list">
    <div ng-repeat="fine in userInfo.fines" list-item="getFineTitle(fine)" subtext="fine.description + '<br/>' + fine.sum + ',-'" document-type="fine.document.type" document-id="fine.document.id"
         image-url="'img/placeholder/Fine.png'" url="pathForDocument(fine.document)"/>
</ul>
<img src="img/ajax-loader.gif" ng-hide="userInfo.fines.length >= 0" />