<div class="row">
    <div class="btn-group btn-group-justified">
        <a ng-href="{{path('MyFavoritesCtrl')}}" type="button" class="btn btn-default">Favoritter</a>
        <a ng-href="{{path('MyDetailsCtrl')}}" type="button" class="btn btn-default">Personlige detaljer</a>
        <a ng-href="{{path('MyMessagesCtrl')}}" type="button" class="btn btn-default">Mine meldinger<span ng-show="newMessagesCount>0" class="badge pull-right">{{newMessagesCount}}</span></a>
        <a ng-href="{{path('MyLoansCtrl')}}" type="button" class="btn btn-default">Mine lån</a>
        <a ng-href="{{path('MyReservationsCtrl')}}" type="button" class="btn btn-default active">Mine reservasjoner</a>
    </div>
</div>
<div class="row">
    <ul class="media-list">
        <div ng-repeat="reservation in userInfo.reservations" list-item="reservation.document.title"
             subtext="getSubtext(reservation)"
             document-type="reservation.document.type" document-id="reservation.document.id"
             image-url="apiPrefix + 'documents/' + reservation.document.id + '/thumbnail'"
             show-delete="true" url="pathForDocument(reservation.document)"/>
    </ul>
    <img src="/img/ajax-loader.gif" ng-hide="userInfo.reservations.length >= 0" />
    <div ng-show="userInfo.reservations.length == 0">Du har ingen reservasjoner.</div>
</div>