<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sølvberget</title>
      <meta name="og:image" content="http://app.solvberget.no/img/app.icon.512.png">
      <meta name="og:title" content="Sølvberget" />
      <meta name="viewport" content="width=device-width">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> 
      <link rel="apple-touch-icon" href="img/icon.196.png">
      <link rel="shortcut icon" sizes="196x196" href="img/icon.196.png">
      <link rel="shortcut icon" sizes="16x16" href="img/icon.16.png">
      
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css">

        <!-- build:css(.tmp) styles/main.css -->
        <!-- bower:css -->
        <!-- endbower -->
      <link rel="stylesheet" href="styles/main.css">
      <!-- endbuild -->


</head>
  <body id="ng-app" ng-app="Solvberget.WebApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->


    <div id="main">

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/nb_NO/all.js#xfbml=1&appId=178416682352295";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div id="wrap" class="row-fluid wrap">

            <div class="navbar navbar-default navbar-static-top navbar-fixed-top" id="menu">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand visible-sm visible-md visible-lg"><img src="img/ic_launcher.png" /></a>
                        <span class="navbar-brand hidden-sm hidden-md hidden-lg" href="#">{{breadcrumb.last.title}}</span>
                    </div>
                    <div id="menu-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li ng-class="{ active: isViewActive('/hjem')}"><a ng-href="{{path('HomeCtrl')}}">Hjem</a></li>
                            <li ng-class="{ active: isViewActive('/sok')}"><a ng-href="{{path('SearchCtrl')}}">Søk</a></li>
                            <li ng-class="{ active: isViewActive('/nyheter')}"><a ng-href="{{path('NewsCtrl')}}">Nyheter</a></li>
                            <li ng-class="{ active: isViewActive('/arrangementer')}"><a ng-href="{{path('EventsCtrl')}}">Arrangementer</a></li>
                            <li ng-class="{ active: isViewActive('/min-side')}"><a ng-href="{{path('MyMessagesCtrl')}}">Min side<span ng-show="newMessagesCount.count > 0" style="margin-left:6px" class="badge pull-right">{{newMessagesCount.count}}</span></a></li>
                            <li ng-class="{ active: isViewActive('/anbefalinger')}"><a ng-href="{{path('ListsCtrl')}}">Anbefalinger</a></li>
                            <li ng-class="{ active: isViewActive('/blogg')}"><a ng-href="{{path('BlogsCtrl')}}">Blogger</a></li>
                            <li ng-class="{ active: isViewActive('/apningstider')}"><a ng-href="{{path('OpeningHoursCtrl')}}">Åpningstider</a></li>
                            <li ng-class="{ active: isViewActive('/kontakt-oss')}"><a ng-href="{{path('ContactCtrl')}}">Kontakt oss</a></li>
                            <li class="visible-xs"><a ng-show="isLoggedIn" ng-click="logout()">Logg ut <i class="glyphicon glyphicon-log-out"></i></a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>

            <div id="breadcrumb" class="visible-sm visible-md visible-lg">

                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-xs-7">
                            <ol class="breadcrumb">
                                <li><a href="/#"><i class="glyphicon glyphicon-home"></i></a></li>
                                <li ng-repeat="crumb in breadcrumb.crumbs"><a ng-href="{{crumb.url}}" ng-class="{ 'active' : $index == breadcrumb.crumbs.length-1}">{{crumb.title}}</a></li>
                            </ol>
                        </div>
                        <div class="col-md-5 col-xs-5">
                            <ol class="breadcrumb pull-right">
                                <li ng-show="isLoggedIn">{{loginName}}</li>
                                <li ng-show="isLoggedIn"><a ng-click="logout()">Logg ut <i class="glyphicon glyphicon-log-out"></i></a></li>
                                <li ng-hide="isLoggedIn"><a ng-href="{{path('LoginCtrl')}}"><i class="glyphicon glyphicon-log-in"></i> Logg inn</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div id="appMessageContainer" style="display:none">
                    <span id="appMessage"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>

                <div ng-view></div>

            </div> <!-- /container -->

            <footer>
                <span>Sølvberget, Stavanger kulturhus (<a href="https://maps.google.com/maps?q=S%C3%B8lvberggata+2,+Stavanger,+Norge&hl=no&ie=UTF8&ll=58.971207,5.733576&spn=0.006625,0.014763&sll=58.971527,5.734706&sspn=0.006625,0.014763&t=h&hnear=S%C3%B8lvberggata+2,+4006+Stavanger,+Rogaland,+Norge&z=16">kart</a>, <a href="mailto:post@stavanger-kulturhus.no">epost</a>)</span><span> / </span>
                <span>Sølvberggt. 2, Pb 310, 4002 Stavanger - Tlf 51 50 74 65</span><span> / </span>
                <span>Design, programmering og drift: <a href="http://www.no.capgemini.com">Capgemini</a></span>
            </footer>


        </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');

    </script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-sanitize.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/news.js"></script>
      <script src="scripts/controllers/lists.js"></script>
      <script src="scripts/controllers/list.js"></script>
      <script src="scripts/controllers/openinghours.js"></script>
      <script src="scripts/controllers/blogs.js"></script>
      <script src="scripts/controllers/contact.js"></script>
      <script src="scripts/controllers/my.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/media.details.js"></script>
    <script src="scripts/controllers/events.js"></script>
    <script src="scripts/controllers/home.js"></script>

    <script src="scripts/directives/listItem.js"></script>
    <script src="scripts/directives/errSrc.js"></script>

    <script src="scripts/services/resources.js"></script>
    <script src="scripts/globalErrorHandling.js"></script>
    <script src="scripts/filters/translate.js"></script>

    <script src="scripts/ext/twitter-timeline.js"></script>

      <!-- endbuild -->

  <script>

      // collapse menu when menu item is clicked
      $(document).ready(function () {
          $("#menu li a").click(function(event) {
              $("#menu-collapse").removeClass("in").addClass("collapse");
          });
      });

      // WP8/IE10Mobile viewport fix
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
          var msViewportStyle = document.createElement("style")
          msViewportStyle.appendChild(
                  document.createTextNode(
                          "@-ms-viewport{width:auto!important}"
                  )
          )
          document.getElementsByTagName("head")[0].appendChild(msViewportStyle)
      }

  </script>


</body>
</html>