<div class="container-fluid" ng-controller="EventsCtrl">
    <div class="row">
        <div id="news-carousel" class="carousel slide" data-ride="carousel">
            <div class="col-xs-8">
                <div class="carousel-inner">
                    <div class="item" ng-repeat="item in items" ng-class="{active : $first}">
                        <div class="row">
                            <div class="col-xs-12">
                                <img ng-src="{{ item.imageUrl }}" alt="Bilde">
                                <h2>{{ item.name }}</h2>
                                <p>
                                    {{ item.start }} - {{ item.end }}<br />
                                    {{ item.location }}<br />
                                    {{ item.ticketPrice }}<br />
                                </p>
                                <p>{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 overview-column">
                <ul class="carousel-indicators event-listing">
                    <li ng-repeat="item in items" ng-class="{active : $first}">
                        <h1 data-target="#news-carousel" data-slide-to="{{ $index }}">{{ item.name }}</h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <script>$(".carousel").carousel({
        interval: 5000
    });</script>
</div>

